@import url('https://fonts.googleapis.com/css2?family=Kanit&family=Poppins&family=JetBrains+Mono&family=Roboto&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  transition: all 0.25s ease-out;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #fff;
}

html {
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
}

.project-image::after {
  content: '';
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transition: all 1000ms;
}

.project-image::after {
  background: rgba(0, 255, 170, 0.25);
  mix-blend-mode: multiply;
}

.project-image:hover img{
  transform: scale(1.25);
}

.project-image:hover::after{
  opacity: 0;
}